* {

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

body {

    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../Images/Wallpaper.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

#phone {

    height: 65%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 10px solid #FCD71E;
    border-radius: 10%;
    padding: 1%;

}

#screen {

    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}

#image {

    height: 60%;
    width: 80%;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

#name {

    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 5px solid #FCD71E;
    color: #FFFFFF;
    margin-top: 10%;
    margin-bottom: 10%;

}

#buttons {

    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.button {

    height: 100;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #FFFFFF;

}

#rows_null {

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #FFFFFF;

}

#rows_null a {

    color: #85C3D2;

}

#rows_null a:hover {

    color: #EB3629;

}

#rows_null a:active {

    color: #2F8E4C;

}